* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.dropdown__wrapper{
    .dropdown{
        font-size: 12px;
        border-radius: 5px;
        font-family: 'poppins', sans-serif;
        option{
            font-size:small;
        }
    }
}